[user]
	email = nils.mathieu.contact@gmail.com
	name = Nils Mathieu

[commit]
	gpgsign = true

[alias]
	lg = log --oneline --graph
	a = add -A
	c = commit -m
	s = status --show-stash --find-renames

[init]
	defaultBranch = main

[pull]
	rebase = false
